$orange:#e96e50;
$blue_d1:#4062bb;

$main_shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
$shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
$shadow_hover: 0 1px 3px rgba(0, 0, 0, 0.1);

$bg:url(https://images3.alphacoders.com/402/40275.jpg);

$border: 2px solid $blue_d1;
